# Django Core
django
gunicorn
whitenoise

# Database & Environment
psycopg2-binary
dj-database-url
python-dotenv

# DRF & API Docs
djangorestframework
drf-yasg
django-cors-headers

# Background Tasks
celery
redis

# Geolocation
django-ip-geolocation